<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/tools"
    package="com.cop4656.teamdns.foodangel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.cop4656.teamdns.foodangel.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.cop4656.teamdns.foodangel.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        tool:replace="android:icon"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ScannerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PantryActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.cop4656.teamdns.foodangel.ScannerActivity" >
        </activity>

        <receiver android:name=".AlertReceiver"/>
    </application>

</manifest>
